ul{
    list-style-type: none;
}
body{
    margin: 0;
    min-width: 80vw;
    min-height: 100vh;
    background-color: #8D99AE;
}

.mobileNav{
    position: fixed;
    top: 0;
    width: 100vw;
    min-height: 8vh;
    background-color: #2B2D42;
    display: flex;
    justify-content: flex-start ;
    align-items: center;
}
.mobileNav #hamburgerIcon{
    margin-left: 2em;
    max-height: 8vh;
    z-index:15;
    
}
.sideBar{
    opacity: 0;
    margin-top: 8vh;
    position: absolute;
    height: 92vh;
    width: 50vw;
    background-color: #2B2D42;
    z-index: 10;
    overflow: auto;
    transition: all 0.5s;
    transform: translateX(-80vw);
}
.sideBar.open {
    transform: translateX(0);
    opacity: 100;
}

.sideBar .sidebarButtons{
    font-family: 'Times New Roman', Times, serif;
    color: #EDF2F4;
    font-weight: bold;
    font-size: 3em;
    border:2px solid #EDF2F4;
    margin-top: 0.2em;
    text-align: center;
    height: 15vh;
    line-height: 15vh;
    background-color: #2B2D42;
    width: 98%;
}

.sideBar .sidebarButtons:hover, .sideBar .sidebarButtons:active{
    background-color: #8D99AE;
    text-decoration: underline;
}
